/* @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&display=swap');

* {
    box-sizing: border-box; 
    background-color: pink;
}

html {
    height: 100%;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-align: center;
}

#title {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 3rem;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container p {
    margin: 0.5rem;
}

.choice-btn-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 25%;
}

.choice-btn-container button {
    background-color: white;
    font-family: 'Amatic SC', cursive;
    border: 2px solid #424242;
    border-radius: 13%;
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
    width: 5rem;
}

.choice-btn-container button:focus {
    outline: none;
}

.img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 33%;
}

#left-hand {
    height: 300px;
}

#left-hand img {
    height: 100%;
}

#right-hand {
    height: 300px;
}

#right-hand img {
    height: 100%;
}

.animate {
    animation: 0.25s shake 0s 3 forwards;
}

.score-container {
    position: absolute;
    top: 60%;
}

.score-container h1 {
    padding: 0;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}